.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: burlywood;
}

.nav {
  margin-top: 2rem;
  margin-inline-start: 1rem;
  margin-inline-end: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-white);
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 1rem;
  cursor: pointer;
}

.indicator {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 100%;
  left: 50%;
  background-color: var(--clr-white);
  border-radius: 50%;
  transform: scale(0) translateX(-50%);
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav ul li a:hover + .indicator {
  transform: scale(1) translateX(-50%);
}

.nav ul li a {
  font-size: var(--fs-h4);
}
