.textSliderContainer {
  bottom: 0;
  width: fit-content;
  left: -90%;
  position: absolute;
  display: flex;
  white-space: nowrap;
  padding-bottom: 2rem;
}

.textSliderContainer p {
  font-size: 11vw;
  font-weight: 600;
  color: var(--clr-white);
}
