.textSliderContainer {
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  white-space: nowrap;
  padding-bottom: 2rem;
}

.textSliderContainer p {
  font-size: 12vh;
  font-weight: 600;
  color: var(--clr-white);
}
