/* Design system */
:root {
  --theme: light;
  --view-transition-duration: 500ms;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.15rem;
  --fs-body: 1.0rem;

  --scroll: 0;
  --section-padding-block: 3rem;
  --section-padding-inline: 8rem;
}

@media (width > 880px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.1rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.25rem;
    --fs-body: 1.0rem;

    --section-padding-block: 6rem;
    --section-padding-inline: 8rem;
  }
}

@media (width > 1280px) {
  :root {
    --section-padding-inline: 10rem;
  }
}

@media (width < 580px) {
  :root {
    --section-padding-block: 2rem;
    --section-padding-inline: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: dark;
    color-scheme: dark;
  }
}

/* View Transition */
::view-transition-old(root) {
  animation-delay: var(--view-transition-duration);
}

::view-transition-new(root) {
  animation: circle-in var(--view-transition-duration);
}

@keyframes circle-in {
  from { clip-path: circle(0% at 50% 0%); }
  to { clip-path: circle(120% at 50% 0%); }
}

body {
  color-scheme: light;
  
  --clr-body-bg: hsl(0, 0%, 100%);
  --clr-card-bg: hsl(10, 25%, 98%);
  --clr-text: #000000;
  --clr-heading: hsl(18, 65%, 48%);
  --clr-accent: #2B45FF;
  --clr-accent-gradient-start: #1F2FCC;
  
  @container style(--theme: dark) {
    color-scheme: dark;
    
    --clr-body-bg: hsl(173, 10%, 7%);
    --clr-card-bg: hsl(173, 30%, 10%);
    --clr-text: #cbd5e1;
    --clr-heading: hsl(173, 50%, 70%);
    --clr-accent: #2B45FF;
    --clr-accent-gradient-start: #1F2FCC;
  }
}

* {
  /* Reset */
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-geist-sans);
  font-weight: 400;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--clr-text);
  background: var(--clr-body-bg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}


/* custom scrollbar styling */
body::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--clr-dark);
}

body::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-light);
  border-radius: 100vw;
  border: 2px solid var(--clr-dark);
}
