.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
}

.main {
  padding-inline: var(--section-padding-inline);
  padding-block: var(--section-padding-block);
}
