.footerContainer {
  --footer-container-height: 100vh;
  --footer-svg-height: 10vh;
  --footer-height: 90vh;
  width: 100%;
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.footerCircleContainer {
  position: relative;
  height: var(--footer-svg-height);
  width: 100%;
}

.footerCircle {
  height: 1400%;
  width: 120%;
  left: -10%;
  border-radius: 0 0 50% 50%;
  z-index: 1;
  position: absolute;
  background-color: var(--clr-accent);
}

.footerClipPathContainer {
  position: relative;
  height: var(--footer-container-height);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  width: 100%;
}

.footer {
  position: fixed;
  /* position fixed is relative to the whole window... 
  so will always be under everything else which could cause issues potentially */
  bottom: 0;
  width: 100%;
  height: var(--footer-container-height);
}

.footerContent {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerContentColumn {
  display: flex;
  flex-direction: column;
}

.footerContentColumn h4 {
  color: var(--clr-light-grey-text);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.footerContentColumn:first-of-type a,
.footerContentColumn:nth-of-type(2) a {
  font-size: var(--fs-h3);
  line-height: 1.2;
}

.footerCTA h1 {
  margin-block: 2rem;
  width: fit-content;
  margin-inline: auto;
}

.footerLine {
  height: 2px;
  width: 100%;
  background-color: var(--clr-light-grey-text);
}
